@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: crimson;
    text-align: center;
    color: #fff;
    padding: 50px;
}

button{
    background-color:cornflowerblue;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin: 340px 40px;
}

main{
    display: flex;
    width: 100%;
    justify-content: center;
    padding:20px;
}

.employee-card{
    margin: 20px;
    background-color:aliceblue;
    width: 300px;
    height: 400px;
    display: flex;
    flex-flow: column;
}

.name-banner{
    padding:20px;
    background-color:royalblue;
    text-align: center;
    color: #fff;
}

.info-container {
    padding: 60px 30px;
    
}

.info-item{
    border: 1px solid #fff;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 10px 0px
}

.info-item p {
    overflow: hidden;
    width: 100%;
    text-align: left;
}

.info-item p:first-child{
    font-weight: bold;
    padding-right: 10px;
}